@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Cormorant+Garamond&family=Pinyon+Script&display=swap");
$base-color: #bfae9f;
$text-color: #333;
$link-color: #c69d76;
$card-width: 400px;
$card-height: 600px;

/* START:  global styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Charmonman", cursive;
}

.capital_cursive {
  font-family: "Pinyon Script", cursive;
  font-size: 80px;
  font-weight: normal;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../images/bg.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: $card-width;
  height: $card-height;
  position: relative;
  perspective: 1000px;
  text-align: center;
  color: $text-color;

  .pulse-animate {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
  }

  a {
    color: $link-color;
    font-size: 22px;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }

  .hashtag {
    font-family: "Cormorant Garamond", serif;
  }
}

@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01)
    }
    75% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01)
    }
    75% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }
}


.cover_left {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/bg_page_5.jpeg) no-repeat;
  background-size: cover;
  background-position-x: 0;
  width: 50%;
  height: 100%;
  transform-origin: left;
  transform: rotateY(0deg);
  transition: transform 1s;
  .cover_title {
    text-align: right;
    padding-top: 80px;
    padding-right: 30px;
  }
  .cover_and {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 180px;
  }
}

.cover_right {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bg_page_5.jpeg) no-repeat;
  background-size: cover;
  background-position-x: -195px;
  width: 50%;
  height: 100%;
  transform-origin: right;
  transform: rotateY(0deg);
  transition: transform 1s;
  .cover_title {
    text-align: left;
    padding-top: 140px;
  }
}

.page_1_container {
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../images/bg_page_8.jpeg) no-repeat;
  background-color: #d3d3d4;
  background-size: cover;
  background-position: center;
  transform: translateZ(-100px);
  transition: z-index 0.3s step-end, transform 1s;
  margin: 0 auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.page_1 {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.card:hover .cover_left {
  transform: rotateY(-360deg);
  // background: url(../images/bg_card_page_1.jpg) no-repeat;
}

.card:hover .cover_right {
  transform: rotateY(360deg);
  // background: url(../images/bg_card_page_1.jpg) no-repeat;
}

.card:hover .page_1_container {
  transform: translateZ(0);
  z-index: 1;
}

.cover_title {
  font-size: 35px;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

pre {
  margin-top: -72px;
  margin-left: -4px;
}

#marquee {
  white-space: pre-line;
}

fieldset {
  border: 0;
  margin-bottom: 18px;
}

form label {
  font-size: 20px;
}

.full-width input {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  outline: none;
  background: transparent;
}

.checkbox input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  height: 18px;
  width: 18px;
  background-color: transparent !important;
}

label.error {
  font-size: 12px;
  color: #cc6660;
}

#submit-btn {
  background: transparent;
  border: none;
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  outline: none;
}

button:hover {
  color: $base-color;
}

/* END:  global styles */
